/.idea
/.pytest_cache
/venv
.coverage
/examples/.ipynb_checkpoints
/examples/log
/revelionn/__pycache__
/revelionn/mapping_nets/__pycache__
/revelionn/utils/__pycache__
/main_net_classes/__pycache__
/ontologies/__pycache__
/saves
/scripts/__pycache__
/scripts/log
/tests/__pycache__
/tests/.pytest_cache
/tests/data/images
/utils/project_saver_loader/__pycache__
/temp
/trained_models